@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,400;0,600;0,700;1,500&family=Prata&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

*{
  font-family: "Outfit",sans-serif;
}
@layer base {
  button {
    @apply cursor-pointer;
  }
 input:not([type="checkbox"]) {
  @apply outline-none ring border border-gray-300
  focus:ring focus:border-blue-500 focus:ring-blue-500 rounded-lg;
}
 textarea{
  @apply outline-none ring border border-gray-300
  focus:ring focus:border-blue-500 focus:ring-blue-500 rounded-lg resize-none;
}

}
